

.innercontainer {
  color: #dddddd;
}
.outercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: "Arial", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(2px); /* 軽いぼかしで奥行きを演出（対応ブラウザ限定） */
}

.h1 {
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
}

.input {
  width: 91%;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;

  color: rgb(217, 238, 217);
  text-shadow: #1c1c1b 2px 2px;
}

.button {
  margin-top: 15px;
  height: 45px;
  width: 100%;
  font-size: 16px;
  background-color: #44aa55;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #3a914a;
}

.button2 {
  margin-top: 15px;
  height: 45px;
  width: 100%;
  font-size: 16px;
  background-color: #00000000;
  color: white;
  border: solid;
  border-radius: 10px;
  cursor: pointer;
}

.button2:hover {
  background-color: #ffffff40;
}

@media screen and (max-width: 768px) {

  .innercontainer{
    margin: 8%;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }

  .input {
    width: 70%;
    font-size: 14px;
  }
 .h1{
   font-size: 24px;
    margin-right:40px ;
 }
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
  }

  .button,
  .button2 {
    margin-right: 3px;
    width: 70%;
    font-size: 14px;
    margin-top: 30px;
  }

  .innercontainer {
    width: 90%;
    padding: 20px;
  }
}
