.mainDiv{
    height: 450vh;
}

.characterEditorWrapper{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
    padding-top: 100px;

}
.characterEditorH2{
    display: flex;
    justify-content: center;
    width: 48%;
    color: white;
}
.characterEditorRight{
    display: flex;
    justify-content: center;
    width: 150%;
}



.characterEditorForm {
    gap: 12px;
    text-align: center;
    align-items: center;
    padding: 20px 0 10px 0;
    flex-wrap: wrap;
}
.characterEditorTable{
    display: flex;
    justify-content: center;
    color: white;
}
.characterEditorTableRight{
    display: flex;
    justify-content: center;
    width: 150%;

}

.tablesContainer {
    display: flex;
    justify-content: space-between; /* テーブルの間にスペースを確保 */
    gap: 20px; /* テーブル間の間隔を調整 */
}
.characterEditorTableTd{
    padding-right: 200px;
}
.characterEditorTableTr{
    padding-right: 100px;
    color: #13f6a0;
    font-size: 20px;

}
.characterEditorSelect {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
}
.characterEditorTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
/*追加生成　h2*/
.characterStillEditorTitle{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.horizontalImages {
    display: flex;
    justify-content: center;
    gap: 20px; /* 画像間のスペース調整 */
    margin-top: 50px;
}

.imageContainer {
    text-align: center;
    color: white;
}



.button {
    margin-top: 15px;
    height: 45px;
    width: 25%;
    text-align: center;
    font-size: 16px;
    background-color: #44aa55;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.buttonCreate{
    height: 45px;
    width: 25%;
    text-align: center;
    font-size: 16px;
    background-color: #44aa55;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #3a914a;
}


.imgCreate{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/*モーション画像*/

.motionImageRow {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap; /* 画面が狭いときは折り返し */
}

.motionImageBlock {
    text-align: center;
    color: white;
}

.motionImage {
    width: 150px; /* 任意で調整 */
    height: 150px;
    border-radius: 10px;
}
